player-connection-mode=Listen
player-connection-guid=2112835105
player-connection-debug=0
player-connection-project-name=GAME470_Homri_Project
player-connection-ip=11.23.41.214
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=cb0012a246e24eae91db2749972e4c30
